* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  font-size: 16px;
  font-family: "Inter";
  letter-spacing: 0px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  box-sizing: border-box;

}
button:hover,
i:hover
 {
  opacity: 0.9;
  transition-duration: 0.2s;
  transform: scale(110%);
  cursor: pointer;
}
a {
  text-decoration: none;
  cursor: pointer;
}



/* main pages header styling */

header {
  Display: flex;
  flex-direction: row;
  gap: 0px;
  justify-content: space-evenly;
  align-items: center;
  width: 1440px;
  height: 86px;
  padding: 16px 8px 16px 8px;
  border-bottom: 1px solid  rgb(214, 214, 214);
  background-color: #ffffff;
}

/*Center of header styling */

.header-center {
  display: flex;
  width: 665px;
  height: 40px;
  border: 2px solid #127FFF;
  border-radius: 5px;
  align-items: center;
  overflow: hidden; 
}
.searchbox,
#category,
.srchbtn {
  height: 40px;
  box-sizing: border-box;
}
.searchbox {
  width: 421px;
  border: 0px;
  padding-left: 1px;
}
.searchbox::placeholder {
  padding-left: 7px;
  color: rgb(187, 187, 187);
}
#category{
  width: 145px;
  border:0px;
  border-left: 2px solid #127FFF;
  padding-left: 10px;
  appearance: none;
}
.select-Help, 
.select-category,
.select-currency {
  position: relative;
  display: inline-block;
}
.category-arrow {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
  pointer-events: none;
}
.srchbtn {
  width: 100px;
  background-color: #127FFF;
  color: rgb(255, 255, 255);
  border: 0px;
  border-radius: 0px 3px 3px 0px;
}

/*Right side of header styling */

.header-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 15px;
  width: 228px;
  height: 41px;
}
.header-right-items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}
.material-symbols-outlined {
 color: #b3b1b1;
  font-variation-settings:
  'FILL' 1,
  'wght' 700,
  'GRAD' -25,
  'opsz' 20
}




/*Navbar styling */

nav {
  Display: flex;
  flex-direction: row;
  gap: 0px;
  justify-content: space-around;
  align-items: center;
  width: 1440px;
  height: 56px;
  padding: 16px 8px 16px 8px;
  border-bottom: 1px solid  rgb(214, 214, 214);
  background-color: #ffffff;
}

.nav-left {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  column-gap: 0px;
  width: 620px;
  height: 24px;

}
.ctgry {
  padding-left: 3px;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-right: 24px;
  border: 0px;
}

.down-arrow {
  position: absolute;
  right: 60px;
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
  pointer-events: none;
}
.nav-right {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  width: 500px;
}
.currency-arrow {
  position: absolute;
  right: 27px;
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
  pointer-events: none;
}
/*select country dropdown styling*/
.selectcountrybtn,
.selectlangbtn {
  background-color: #ffffff;
  border: none;
}

.countrydropdown,
.bfselectlang-dropdown
 {
  display: none;
  position: absolute;
  background: rgb(255, 255, 255);
  border: 1px solid #0f0f0f;
  min-width: 150px;
  height: 180px;
  color: black;
}

.selectcountry:hover .countrydropdown,
.bottomfooter-selectlang:hover .bfselectlang-dropdown
{
    display: block;
}
.dropdowncontent,
.bfsldropdown-content {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
}
.dropdowncontent:hover,
.bfsldropdown-content:hover{
  background-color: #127FFF;
}


/* cart page's header styling */

.cart-header-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1180px;
  align-items: center;
  justify-content: space-between;

}
.logo {
  width: 150px;

}





/*Footer styling*/
Footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1440px;
  height: 324px;
  background-color: #ffffff;
  padding: 16px 8px 16px 8px;
}
.top-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 20px;

}
.top-footer span{
  color: #b3b1b1;
}
.topfootercol, 
.topfootercol-1,
.topfootercol-last {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  row-gap: 10px;
}
.topfootercol {
  width: 150px;
  gap: 20px;

}
.topfootercol-1 {
  width: 276px;
  height: 157px;
  gap: 10px;
}
.topfootercol-last {
  width:124px ;
}
.social-icons {
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 15px;
}
.getappbtn {
  display: flex;
  flex-direction: row;
  width: 120px;
  height: 42px;
  background-color: #000000;
  border-radius: 10px;
  padding: 2px;
  justify-content: center;
  align-items: center;
}

/*bottom footer*/
.bottom-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1440px;
  height: 68px;
  background-color: #F7FAFC;
  border-top: 1px #DEE2E7;
  }
  .bottomfooter-container {
    display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1180px;
  height: 68px;
  }
.bottomfooter-selectlang {
  position: relative;
}
.bfselectlang-arrow {
  transform: rotate(180deg);
}
.bfselectlang-dropdown {
  bottom: 100%;
  z-index: 1;
}