.breadcrump {
  display: flex;
  width: 100%;
  max-width: 1440PX;
  max-height: 64px;
  justify-content: center;
  align-items: center;
  background-color: #F7FAFC;

}

.breadcrumpcont {
  display: flex;
  width: 100%;
  height: 100%;
  max-height: 64px;
  max-width: 1180PX;
  color: #8B96A5;
  line-height: 24px;
  letter-spacing: -0.2px;
  padding: 20px;
  gap: 10px;

}
.breadcrumpcont a {
   color: #8B96A5;
   text-decoration: none; 
}
.productlistview {
  display: grid;
  width: 100%;
  max-width: 1180px;
 margin: 0 auto;
  grid-template-columns: 240px 920px;
  gap: 20px;
}
.category-slider,
.barnd-slider,
.feature-slider {
  max-height: 264px;
}
.category-slider,
.barnd-slider,
.feature-slider,
.pricerang-slider,
.condition-slider,
.rating-slider {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 230px;
  margin-bottom: 15px;
  border-top: 1px solid #DEE2E7;

}
.condition-slider,
.rating-slider {
  max-height: 192px;
}
.pricerang-slider {
  max-height: 208px;
  row-gap: 10px;
}
.category-slider-row,
.brand-slider-row,
.feature-slider-row,
.pricerang-slider-row,
.condition-slider-row,
.rating-slider-row
 {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 240px;
  height: 100%;
  max-height: 48px;
  align-items: center;
  padding: 5px 0px 5px 0px;
  color: #505050;
}
.category-slider-row,
.brand-slider-row,
.feature-slider-row,
.condition-slider-row,
.rating-slider-row {
  justify-content: space-between;
}
.pricerang-slider-row {
  justify-content: left;
  column-gap: 10px;
}
.productviewcol1-downarrow{
  width: 100%;
  max-width: 12px;
  max-height: 7.4px;
  transform: rotate(180deg);
}
.seeall {
  color: #0D6EFD;
}
.brand-slider-row-checkbox,
.feature-slider-row-checkbox,
.condition-slider-row-radio {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 140px;
  max-height: 36px;
  column-gap: 10px;

}
.brand-slider-row-checkbox input,
.feature-slider-row-checkbox input,
.condition-slider-row-radio input,
.rating-slider-row-radio input{
  max-width: 20px;
  max-height: 20px;
  border: 2px solid #BDBDBD;
  border-radius: 5px;
}

.min-max-cont {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 110px;
  max-width: 64px;
}
.min-max-cont input {
  max-width: 110px;
  max-height: 40px;
  background-color: #FFFFFF;
  border: 1px solid #DEE2E7;
  border-radius: 6px;
  color: #BDC4CD;
}
#apply-btn {
  width: 228px;
  height: 40px;
  background-color: #FFFFFF;
  border: 1px solid #DEE2E7;
  border-radius: 6px;
  color: #0D6EFD;
}
.rating-slider-row-radio {
  display: flex;
  flex-direction: row;
  gap: 10px;

}
.rating-slider-row-radio label{
  display: flex;
  flex-direction: row;
  gap: 0px;
}


.productviewcol2-top {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 920px;
  max-height: 62px;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid #DEE2E7;
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 20px;
}
.productviewcol2-topleft {
  display: flex;
  flex-direction: row;
  column-gap: 5px;
  max-width: 251px;
  line-height: 100%;
  letter-spacing: 0px;
}

.productviewcol2-topleft h6 {
  font-weight: 600;
}
.productviewcol2-topright {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 400px;
  column-gap: 7px;
}
.varified {
  display: flex;
  gap: 10px;
  width: 100%;
  max-width: 144px;
  max-height: 40px;
  align-items: center;
  justify-content: right;
  padding: 10px;

}
.featured {
  display: flex;
  width: 100%;
  max-width: 172px;
  max-height: 40px;
  border: 1px solid #DEE2E7;
  border-radius: 6px;
  padding: 10px;
  position: relative;
}
.featured-downarrow {
  position: absolute;
  width: 12px;
  height: 8px;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}
.grid-icon,
.list-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #DEE2E7;
  border-radius: 6px;
  width: 100%;
  max-width: 36px;
  max-height: 40px;
}

.productviewcol2-productlist {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 100%;
  max-width: 920px;
  max-height: 1430px;

}
.product-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 920px;
  max-height: 230px;
  background-color: #FFFFFF;
  border: 1px solid #DEE2E7;
  justify-content: space-between;
  padding: 20px;

}
.product-row-img {
  display: flex;
  width: 100%;
  max-width: 210px;
  max-height: 210px;
}
.product-row-text {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 100%;
  max-width: 607px;
  max-height: 210px;
justify-content: center;

}
.productprice {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  font-weight: 600;
  
}
.productprice p {
  text-decoration: line-through;
  color: #8B96A5;
}
.ratingordershipping-row {
  display: flex;
  flex-direction: row;
  column-gap: 30px;
  align-items: center;

}
.ratingstarandnumber {
  display: flex;
  flex-direction: row;
  column-gap: 0px;
  color: #FF9017;
  align-items: center;
}
.order-text {
  color: #8B96A5;
}
.shipping-text {
  color: #00B517;
}
.product-discription {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 607px;
  color: #505050;
  line-height: 24px;
}
.product-discription a{
  color: #0D6EFD;
  text-decoration: none;
}
.product-title-text {
  font-weight: 500;
}
.product-row-icon {
  display: flex;
  width: 40px;
  max-height: 40px;
  border: 1px solid #DEE2E7;
  border-radius: 6px;
  box-shadow: 0 1 2 0 #38383814;
  justify-content: center;
  align-items: center;
}







